<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>PoopFlix</title>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="../static/js/poop.js"></script>

      <link href="../static/css/main.css" rel="stylesheet">
  </head>


  <body>
      <div id="poop_img">
          <img src="../static/img/poop.jpg">
      </div>

      <h1>Poop Recommends: <span id="recommendation">{{ movie }}</span></h1>




  </body>
</html>

