<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>PoopFlix</title>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="../static/js/poop.js"></script>

      <link href="../static/css/main.css" rel="stylesheet">

      <link rel="icon" href="../static/img/favicon.ico">
  </head>


  <body>
  <!--<nav class="navbar navbar-default pagename">-->
      <!--<div class="container-fluid">-->
          <!--<div class="navbar-header navbar-brand">-->
              <!--PoopFlix:  Let Poop choose your Netflix for you!-->
          <!--</div>-->
      <!--</div>-->
  <!--</nav>-->

  <div class="jumbotron">

      <div id="poop_img">
          <img src="../static/img/poop.jpg">
      </div>

      <h1>Poop Recommends: <a href="{{ link }}" target="_blank"><span id="recommendation">{{ movie }}</span></a></h1>
  </div>
  </body>
</html>

